.DS_Store
StardewValley
menus
nvim/lua/plugins/gpt.lua
nvim/lua/plugins/avante.lua
nvim/lua/plugins/copilot.lua
nvim/lua/plugins/obsidian.lua
github-copilot
btop/
raycast/
bat/
.DS_Store
nvim/lazy-lock.json
