.DS_Store
StardewValley
menus
nvim/lua/plugins/gpt.lua
nvim/lua/plugins/avante.lua
nvim/lua/plugins/copilot.lua
nvim/lua/plugins/obsidian.lua
github-copilot
btop/
raycast/
bat/
nvim/lazy-lock.json
wireshark
.opencode
.tmux/plugins
uv/uv-receipt.json
biome.json
mcphub
opencode/opencode.json
lazygit/state.yml
k9s/aliases.yaml
